body {
    background-color: #D2D2D2
}
h1 {
    font-family: 'Georgia';
    color: lightseagreen;
    font-size: 2em;
    font-weight: bold
}
h2 {
    font-family: 'Georgia';
    color: lightseagreen;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center
}
